{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <style>
        .article-wrapper
        {
            margin: 0.5em auto;
            width: 100%;
            font: 18px / 1.5 sans-serif;
        }
    </style>

    <div class="article-wrapper">
        <section class="p-t-30">
            {% for category in categories %}
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link catTitle" type="button" data-toggle="collapse" data-target="#cat-{{ category.id }}" aria-expanded="true" aria-controls="cat-{{ category.id }}">
                                {{ category.name }}
                                </button>
                            </h2>
                        </div>
                        <div id="cat-{{ category.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="container">
                                {% for article in articles %}
                                    {% if article.category == category %}
                                        <div class="articles cat-{{ article.category.id }}">
                                        <div v-for='(item,indice) in articles' :key='indice' class="row">
                                            <div class="card col-sm-6">
                                                <div class="card-body">
                                                    <div class="card-title col-4" >
                                                        <h5><a href="{{ path('article_show', { id: article.id }) }}"><span id="name-{{ article.id }}" class="names"><strong>{{ article.category.name }}</strong> - {{ article.name }}</span></a></h5>
                                                    </div>
                                                    <div class="card-text col-8">
                                                        <input class="inputQty" id="input-{{ article.id }}" type="number" value="0" min="0"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
         
            <div class="container">
                <button type="submit" class="btn btn-primary btn-sm" style="width:140px" id="submitButton">
                    <i class="fas fa-shopping-cart"></i> Ajouter
                </button>
            </div>
        </section>
    </div>









            {# <div class="container">
                {% for article in articles %}
                    <div class="row articles cat-{{ article.category.id }}">
                        <div class="card col-12">
                            <div class="card-body">
                                <div class="card-title col-4" >
                                    <h5><a href="{{ path('article_show', { id: article.id }) }}"><span id="name-{{ article.id }}" class="names"><strong>{{ article.category.name }}</strong> - {{ article.name }}</span></a></h5>
                                </div>
                                <div class="card-text col-8">
                                    <input class="inputQty" id="input-{{ article.id }}" type="number" value="0" min="0"/>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> #}

    {# <!-- jQuery --> #}
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    
    {# <!-- Gestion du collapse --> #}
    <script type="text/javascript">
        $(function () {
            //$('.collapseBody').collapse();

            /*$('.catTitle').click(function(event){
                event.preventDefault();
                $('.collapseBody').collapse('hide');
                $(event.target.dataset.target).collapse('show');
            });*/
        });
    </script>

    {# <!-- Filtre des articles --> #}
    <script type="text/javascript">
        let categories = document.getElementsByClassName("categories");
        let articles = document.getElementsByClassName("articles");
        let names = document.getElementsByClassName("names");
        for (let i = 0; i < categories.length; i++) {
            categories[i].addEventListener("click", filterArticles);
        }

        function filterArticles(event) {
            event.preventDefault();
            selectedCategory = event.target.id;
            catId = parseInt(selectedCategory.substring(9));
            selectedArticles = document.getElementsByClassName("cat-" + catId);
            if (catId === -1) {
                for (let i = 0; i < articles.length; i++) {
                    articles[i].hidden = false;
                }
            } else {
                for (let i = 0; i < articles.length; i++) {
                    articles[i].hidden = true;
                }
                for (let j = 0; j < selectedArticles.length; j++) {
                    selectedArticles[j].hidden = false;
                }
            }
        }
    </script>

    {#<!-- Gestion du panier -->#}
    <script type="text/javascript">
        let count = 0;
        let button = document.getElementById("submitButton");
        let inputs = document.getElementsByClassName("inputQty");
        let cartList = document.getElementById("cartList");
        let totalItems = document.getElementById("itemCount");
        let counter = document.getElementById("count");
        let validate = document.getElementById("validate");

        validate.hidden = true;
        validate.addEventListener("click", validateCommand);

        /*for (let i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener('focusout', addToCart);
        }*/

        button.addEventListener("click", addToCart);

        function addToCart(event) {
            event.preventDefault();
            for (let i = 0; i < inputs.length; i++) {
                let qty = parseInt(inputs[i].value);
                if (qty > 0) {
                    let id = parseInt(inputs[i].id.substring(6));
                    let inputItem = document.getElementById("itemQty-" + id);
                    updateBadge(qty);
                    inputItem === null ? addArticleToList(id, qty) : addToItem(inputItem.id, qty);
                    inputs[i].value = 0;
                }
            }
        }

        /*function addToCart(event) {
            event.preventDefault();
            let qty = parseInt(event.target.value);
            if (qty > 0) {
                let id = parseInt(event.target.id.substring(6));
                let inputItem = document.getElementById("itemQty-" + id);
                updateBadge(qty);
                inputItem === null ? addArticleToList(id, qty) : addToItem(inputItem.id, qty);
                event.target.value = 0;
            }
        }*/

        function updateBadge(qty) {
            count += qty;
            counter.textContent = count;
            validate.hidden = count > 0 ? false : true;
            count > 0 ? counter.style.visibility = "visible" : counter.style.visibility = "hidden";
            count > 1 ? totalItems.textContent = count + " articles" : totalItems.textContent = count + " article";
        }

        function addToItem(inputId, qty) {
            let inputToUpdate = document.getElementById(inputId);
            let initialValue = parseInt(inputToUpdate.value);
            inputToUpdate.value = initialValue + qty;
            inputToUpdate.defaultValue = initialValue + qty;
        }

        function addArticleToList(id, qty) {
            let cartList = document.getElementById("cartList");
            let description = document.getElementById("name-" + id).textContent;
            let newArticle = document.createElement("li");
            let newDescription = document.createElement("p");
            let newForm = createForm(id, qty);
            newArticle.setAttribute("id", "cartItem-" + id);
            newDescription.setAttribute("class", "d-flex flex-row ml-auto");
            newDescription.textContent = description;
            newArticle.append(newDescription);
            newArticle.append(newForm);
            cartList.append(newArticle);
        }

        function createForm(id, qty) {
            let div = document.createElement("div");
            let input = document.createElement("input");
            let button = document.createElement("button");
            let trash = document.createElement("i");
            input.setAttribute("class", "items");
            input.setAttribute("id", "itemQty-" + id);
            input.setAttribute("type","number");
            input.setAttribute("defaultValue", qty);
            input.setAttribute("value", qty);
            input.setAttribute("min", "1");
            input.addEventListener("change", updateQty)
            button.setAttribute("class", "btn btn-link");
            button.setAttribute("id", "throw-" + id)
            button.addEventListener("click", deleteArticle);
            trash.setAttribute("class", "fa fa-trash");
            trash.setAttribute("id","trash-" + id)
            trash.addEventListener("click", deleteArticle);
            button.append(trash);
            div.append(input);
            div.append(button);
            div.append(document.createElement("hr"));
            return div;
        }

        function deleteArticle(event) {
            event.preventDefault();
            let articleId = parseInt(event.target.id.substring(6));
            let articleQty = document.getElementById("itemQty-" + articleId);
            let article = document.getElementById("cartItem-" + articleId);
            article.remove();
            updateBadge(-parseInt(articleQty.value));
        }

        function updateQty(event) {
            event.preventDefault();
            let initialQty = parseInt(event.target.defaultValue);
            let newQty = parseInt(event.target.value);
            updateBadge(newQty - initialQty);
            event.target.defaultValue = event.target.value;
        }

        async function validateCommand(event) {
            event.preventDefault();
            let items = document.getElementsByClassName("items");
            await sendItemsToDatabase(items);
            document.location.href='/cart/item/'
        }

        async function sendItemsToDatabase(items) {
            for (let i = 0; i < items.length; i++) {
                let itemId = parseInt(items[i].id.substring(8));
                cartItem = {
                    article: itemId,
                    quantity: parseInt(items[i].value),
                }
                $.ajax({
                    type: 'POST',
                    url: '/cart/item/new',
                    headers: {
                        'Content-Type':'application/json',
                    },
                    data: JSON.stringify(cartItem),
                });
            }
        } 
    </script>
{% endblock %}

{% block js %}
{% endblock %}


