{% extends 'base.html.twig' %}

{% block title %}CartItem index{% endblock %}

{% block body %}
    <h1>Finalisation de la commande</h1>

    <h4>Date de livraison</h4>
    <div class="flatpickr">
        <input type="text" id="selectedDate" placeholder="Selectionnez une date" data-input >

        <a class="input-button" title="toggle" data-toggle>
            <i class="icon-calendar"></i>
        </a>

        <a class="input-button" title="clear" data-clear>
            <i class="icon-close"></i>
        </a>
    </div>

    <h4>Récapitulatif</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Catégorie</th>
                <th>Article</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cart_item in cart_items %}
            <tr>
                <td>{{ cart_item.article.category.name }}</td>
                <td>{{ cart_item.article.name }}</td>
                <td><input type="number" class="quantities" id="item-{{ cart_item.id }}" value="{{ cart_item.quantity }}" /></td>
                <td>
                    <a href="{{ path('cart_item_delete', {'id': cart_item.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button id="validate">Valider</button>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/flatpickr.min.js" 
        integrity="sha256-/irFIZmSo2CKXJ4rxHWfrI+yGJuI16Z005X/bENdpTY=" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.3/dist/l10n/fr.js" 
        integrity="sha256-jCOowUuNtEsQuVN6JzsrCedlin0Tczarmqk1DRP2r14=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(function () {

            flatpickr.localize(flatpickr.l10ns.fr);
            flatpickr($('.flatpickr'), {
                "locale": "fr",
            });

            $('.flatpickr').flatpickr({
                wrap: true,
                altInput: true,
                altFormat: "d / m / Y",
                dateFormat: "Y-m-d",
                defaultDate: new Date().fp_incr(2),
                minDate: new Date().fp_incr(2),
                locale: {
                    firstDayOfWeek: 1,
                },
                disable: [
                    function(date) {
                        return (date.getDay() === 0 || date.getDay() === 6);
                    }
                ],
            });

            $("button#validate").click(validate);

            async function validate(event) {
                await sendItemsToDatabase($(".quantities"));
                document.location.href='/'
            }

            async function sendItemsToDatabase(items) {
                for (let i = 0; i < items.length; i++) {
                    let id = parseInt(items[i].id.substring(5));
                    cartItem = {
                        quantity: parseInt(items[i].value),
                        delivery: $("#selectedDate")[0].value
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/cart/item/' + id + '/validate',
                        headers: {
                            'Content-Type':'application/json',
                        },
                        data: JSON.stringify(cartItem),
                    })
                }
            } 
        });

    </script>

{% endblock %}
