{% for category in categories %}
{# <li><a href="{{ path('category_show', {'id': category.id}) }}" id="category-{{ category.id }}">{{ category.name }}</a></li> #}
    <a class="dropdown-item" href="#" id="category-{{ category.id }}">{{ category.name }}</a>
    <div class="dropdown-divider"></div>
{% endfor %}
